#
### Brew Taps
#

{% for tap in brew_taps %}
    tap '{{ tap.name }}'
{% endfor %}

#
### Brew Packages
#

{% for package in brew_packages %}
    brew '{{ package.name }}'
{% endfor %}

#
### Brew Cask Options
#

cask_args caskroom: '~/Caskroom/Applications'
cask_args appdir: '/Applications'

#
### Brew Cask Applications
#

{% for app in brew_apps %}
    cask '{{ app.name }}'
{% endfor %}

#
### Other Applications (* = App Store only)
#

{% for app in other_apps %}
    # {{ app.name }}{% if app.app_store_only %} *{% endif %}
{% endfor %}
