#
### Brew Taps
#

tap 'homebrew/binary'
tap 'homebrew/bundle'
tap 'caskroom/cask'
tap 'caskroom/versions'

#
### Brew Packages
#

brew 'caskroom/cask/brew-cask'
brew 'ack'
brew 'archey'
brew 'autoconf'
brew 'bash'
brew 'colordiff'
brew 'cowsay'
brew 'cpanminus'
brew 'curl'
brew 'dark-mode'
brew 'ffmpeg'
brew 'fortune'
brew 'fpp'
brew 'geoip'
brew 'git'
brew 'git-standup'
brew 'htop'
brew 'icdiff'
brew 'mackup'
brew 'mysql'
brew 'nmap'
brew 'node'
brew 'openssl'
brew 'pkg-config'
brew 'packer'
brew 'pv'
brew 'pyenv'
brew 'pyenv-virtualenv'
# brew 'redis', restart_service: true
brew 'sl'
brew 'ssh-copy-id'
brew 'vim'
brew 'webkit2png'
brew 'wget'
brew 'youtube-dl'
brew 'zsh'

#
### Brew Cask Options
#

cask_args caskroom: '~/Caskroom/Applications'
cask_args appdir: '/Applications'

#
### Brew Cask Applications
#

cask 'airmail-beta'
# cask 'android-file-transfer'
# cask 'android-studio'
cask 'appcleaner'
cask 'arq'
cask 'atom'
cask 'bartender'
cask 'balsamiq-mockups'
# cask 'cathode'
cask 'charles'
# cask 'cocoarestclient'
cask 'colorsnapper'
cask 'dash'
cask 'dockertoolbox'
cask 'dropbox'
cask 'evernote'
cask 'fantastical'
cask 'filebot'
cask 'filezilla'
cask 'firefox'
# cask 'fitbit-connect'
# cask 'flirc'
cask 'flux'
cask 'flycut'
cask 'github-desktop'
cask 'google-chrome'
cask 'google-cloud-sdk'
cask 'google-drive'
# cask 'htc-sync-manager'
cask 'iterm2'
cask 'java'
# cask 'jing'
# cask 'join.me'
cask 'karabiner'
# cask 'little-snitch'
cask 'macdown'
# cask 'namebench'
# cask 'paw'
cask 'private-internet-access'
cask 'pycharm'
# cask 'qfinder'
cask 'radiant-player'
cask 'sequel-pro'
# cask 'silverlight'
cask 'slack'
# cask 'smcfancontrol'
cask 'sonos'
cask 'spectacle'
cask 'sublime'
cask 'sublime-text3'
cask 'the-unarchiver'
cask 'tower'
cask 'transmission'
cask 'tunnelblick'
# cask 'tribler'
cask 'vagrant'
# cask 'vagrant-manager'
cask 'virtualbox'
cask 'vlc'

#
### Other Applications (* = App Store only)
#

# Amphetamine *
# Authy (Chrome App)
# AVNavigator 2013
# BIG-IP Edge Client
# Disk Diag *
# Eggscellent *
# Google Chrome Canary
# Google Keep (Chrome App)
# Memory Monitor *
# PdaNetMac
# Pomodoro Time *
# Postman (Chrome App)
# Sketch *
# Sparrow
# SyncTwoFolders
# TIPP10
